<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <title>Design 1</title>
  </head>
  <body>
    <div class="cover">
      <div class="navbar">
        <div class="left-side">LO</div>
        <div class="right-side">
          <div class="link">about</div>
          <div class="link">articles</div>
          <div class="subscribe">subscribe</div>
        </div>
      </div>
      <div class="title">LOMBOK</div>
      <div class="subtitle">holistic health</div>
    </div>
    <div class="articles">
      <div class="title">latest articles</div>
      <div class="articles-wrapper">
        <div class="card">
          <div class="image img1"></div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            dictum risus ligula, at suscipit urna venenatis id.
          </div>
        </div>
        <div class="card">
          <div class="image img2"></div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            dictum risus ligula, at suscipit urna venenatis id.
          </div>
        </div>
        <div class="card">
          <div class="image img3"></div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            dictum risus ligula, at suscipit urna venenatis id.
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="about-image"></div>
      <div class="description">
        <div class="title">about</div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          dictum risus ligula, at suscipit urna venenatis id. In ultrices, eros
          quis laoreet fringilla, enim tortor laoreet quam, ut tristique ipsum
          dui in ligula. Proin fringilla vehicula egestas. Nulla commodo
          imperdiet nulla et luctus. Nunc laoreet luctus hendrerit. Morbi dictum
          sed nunc vitae ornare. Proin iaculis erat id purus luctus semper. Nam
          cursus iaculis erat, non egestas dolor ultricies vitae.
        </div>
      </div>
    </div>
    <div class="subscribe-wrapper">
      <div class="title">Subscribe</div>
      <div class="subtitle">Sign up for our newsletter.</div>
      <input type="text" placeholder="Your email" aria-label="email" />
      <div class="button">Submit</div>
    </div>
    <div class="footer">
      <div class="link">about</div>
      <div class="link">articles</div>
      <div class="link">subscribe</div>
    </div>
  </body>
</html>
