<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <title>Design 2</title>
  </head>
  <body>
    <div class="cover">
      <div class="cover-background">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="navbar">
        <div class="left-side">K</div>
        <div class="right-side">
          <div class="link">about</div>
          <div class="link">courses</div>
          <div class="link">podcast</div>
          <div class="link">blog</div>
          <div class="link">contact</div>
        </div>
      </div>
      <div class="cover-content">
        <div class="left-side">
          <div class="lef-side-content">
            <img src="logo.png" alt="" />
            Sleek. Stylish contemporary.
          </div>
        </div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="about">
      <div class="about-png">
        <div class="col1"></div>
        <div class="col2">
          <div class="title">about me</div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et
            felis non diam bibendum viverra sed eget magna. Fusce malesuada
            libero nec bibendum mollis. Interdum et malesuada fames ac ante
            ipsum primis in faucibus. Nulla tortor metus, euismod eu magna ac,
            molestie semper leo.
          </div>
          <div class="button">tell me more</div>
        </div>
      </div>
    </div>
    <div class="offer">
      <div class="content">
        <div class="title">Offers</div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et
          felis non diam bibendum viverra sed eget magna. Fusce malesuada
          libero nec bibendum mollis.</div>
          <div class="button">gimme the detail</div>
      </div>
    </div>
  </body>
</html>
